---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Boton from "../components/Boton1";
import Contenedor from "../components/ContenedorComponentes.tsx";
---

<Layout title="MintUI">
  <main>
    <div class="flex flex-col">
      <Header />

      <div class="flex flex-col items-center w-full gap-4 my-12">
        <h2
          class="text-[52px] md:text-[60px] font-bold text-center w-full lg:w-2/3"
        >
          Craft beautiful user interfaces effortlesly
        </h2>
        <p
          class="subtitle text-[18px] md:text-[20px] text-center w-full lg:w-2/3"
        >
          Beautifully designed components made with React and TailwindCSS.
          Customizable, Accessible, Open-Source and Free Forever.
        </p>
      </div>

      <section
        class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3 my-8"
      >
        <Contenedor>
          <Boton />
        </Contenedor>
        <Contenedor>
          <Boton />
        </Contenedor>
        <Contenedor>
          <Boton />
        </Contenedor>
        <Contenedor>
          <Boton />
        </Contenedor>
        <Contenedor>
          <Boton />
        </Contenedor>
        <Contenedor>
          <Boton />
        </Contenedor>
      </section>

      <p class="w-full my-14 text-center text-base">
        <span class="opacity-50">Made by </span>
        <a href="/" class="font-semibold">@brenolasserre</a>
      </p>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 1200px;
    max-width: calc(100% - 2rem);
    color: #d8fff2;
    font-size: 20px;
    line-height: 1.6;
  }
  h2 {
    font-family: "Red Rose", serif;
    line-height: 60px;
  }
  .subtitle {
    line-height: 32px;
  }
</style>
